<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row m-3">
                <div class="form-floating col-sm-5">
                    <input type="text" class="form-control" id="name" placeholder="name">
                    <label for="name">Name</label>
                </div>
                <div class="col-sm-2 form-floating">
                    <input type="number" id="amount" class="form-control" placeholder="amount">
                    <label for="amount">Amount</label>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" type="submit">Submit</button>
                <button class="btn btn-danger" type="button">Delete</button>
                <button class="btn btn-primary" type="button">Clear</button>
            </div>
        </div>
    </div>
</div>

